In [1]:
options(warn=-1)

In [36]:
library(aod)
library(caret)
library(dplyr)
library(forcats)
library(ggplot2)
library(MASS)
library(matrixStats)
library(MLmetrics)
library(skimr)
library(stats)
library(stringdist)
library(tidyr)
library(vcd)

In [3]:
size <- 10000

### I. Data preprocessing

In [4]:
data <- read.table('adult.data', sep=',')

In [5]:
colnames(data) <- scan('adult.names', what=character(), sep='\n')

In [6]:
data$`native-country`[as.character(data$`native-country`) == ' ?'] <- NA
data$workclass[as.character(data$workclass) == ' ?'] <- NA
data$occupation[as.character(data$occupation) == ' ?'] <- NA

In [7]:
head(data)

  age workclass         fnlwgt education  education-num marital-status
1 39   State-gov         77516  Bachelors 13             Never-married
2 50   Self-emp-not-inc  83311  Bachelors 13             Married-civ-spouse
3 38   Private          215646  HS-grad    9             Divorced
4 53   Private          234721  11th       7             Married-civ-spouse
5 28   Private          338409  Bachelors 13             Married-civ-spouse
6 37   Private          284582  Masters   14             Married-civ-spouse
  occupation         relationship   race   sex     capital-gain capital-loss
1  Adm-clerical       Not-in-family  White  Male   2174         0
2  Exec-managerial    Husband        White  Male      0         0
3  Handlers-cleaners  Not-in-family  White  Male      0         0
4  Handlers-cleaners  Husband        Black  Male      0         0
5  Prof-specialty     Wife           Black  Female    0         0
6  Exec-managerial    Wife           White  Female    0         0
  hours-per-week native-country income
1 40              United-States  <=50K
2 13              United-States  <=50K
3 40              United-States  <=50K
4 40              United-States  <=50K
5 40              Cuba           <=50K
6 40              United-States  <=50K

In [8]:
data$income <- factor(data$income, order=T, levels=c(' <=50K', ' >50K'))

Remove redundant features.

In [9]:
data$`education-num` <- NULL
data$`relationship` <- NULL
data$occupation <- NULL
data$fnlwgt <- NULL

Reducing number of levels of some factors.

In [10]:
data <- mutate(data, workclass = fct_collapse(workclass, Gov = c(' State-gov', ' Federal-gov', ' Local-gov')))
data <- mutate(data, workclass = fct_collapse(workclass, Self_employed = c(' Self-emp-not-inc', ' Self-emp-inc')))
data <- mutate(data, workclass = fct_collapse(workclass, Not_working = c(' Without-Pay', ' Never-worked')))

In [11]:
data <- mutate(data, education = fct_collapse(education, School = c(' 10th', ' 11th', ' 12th', ' 1st-4th', 
                                                                    ' 5th-6th', ' 7th-8th', ' 9th', ' Preschool', 
                                                                    ' HS-grad')))
data <- mutate(data, education = fct_collapse(education, Associates = c(' Assoc-acdm', ' Assoc-voc')))

data$education <- factor(data$education, order=T, levels=c('School', ' Prof-school', 'Associates', ' Some-college', 
                                                           ' Bachelors', ' Masters', ' Doctorate'))

In [12]:
europe <- c(' England', ' France', ' Germany', ' Greece', ' Holand-Netherlands', ' Hungary', ' Ireland', ' Italy', ' Poland', ' Portugal', ' Scotland', ' Yugoslavia')
asia <- c(' Cambodia', ' China', ' Hong', ' India', ' Japan', ' Laos', ' Philippines', ' Taiwan', ' Thailand', ' Vietnam')
central_america <- c(' Cuba', ' Dominican-Republic', ' El-Salvador', ' Guatemala', ' Haiti', ' Honduras', ' Jamaica', ' Mexico', ' Nicaragua', ' Puerto-Rico', ' Trinadad&Tobago')
south_america <- c(' Columbia', ' Ecuador', ' Peru')
usa <- c(' United-States', ' Outlying-US(Guam-USVI-etc)')

data <- mutate(data, `native-country` = fct_collapse(`native-country`, Europe = europe))
data <- mutate(data, `native-country` = fct_collapse(`native-country`, Asia = asia))
data <- mutate(data, `native-country` = fct_collapse(`native-country`, Central_America = central_america))
data <- mutate(data, `native-country` = fct_collapse(`native-country`, South_America = south_america))
data <- mutate(data, `native-country` = fct_collapse(`native-country`, USA = usa))

In [13]:
data <- mutate(data, `marital-status` = fct_collapse(`marital-status`, Married = c(' Married-AF-spouse', 
                                                                                   ' Married-civ-spouse')))
data <- mutate(data, `marital-status` = fct_collapse(`marital-status`, Not_married = c(' Married-spouse-absent', 
                                                                                       ' Separated', ' Divorced')))

Categorize some features.

In [14]:
age_factors <- function(x) {
    if (x <= 25) {
        return('Young')
    } else if (x <= 45) {
        return('Middle-aged')
    } else if (x <= 65) {
        return('Senior')
    } else {
        return('Old')
    }
}

data$age <- sapply(data$age, age_factors)

In [15]:
job_factors <- function(x) {
    if (x <= 25) {
        return('Part-time')
    } else if (x <= 40) {
        return('Full-time')
    } else {
        return('Over-time')
    }
}

data$`hours-per-week` <- sapply(data$`hours-per-week`, job_factors)

In [16]:
capital_factors <- function(x) {
    if (x == 0) {
        return('None')
    } else if (x <= med) {
        return('Low')
    } else {
        return('High')
    }
}

med <- median(data$`capital-gain`[data$`capital-gain` != 0])
data$`capital-gain` <- sapply(data$`capital-gain`, capital_factors)

med <- median(data$`capital-loss`[data$`capital-loss` != 0])
data$`capital-loss` <- sapply(data$`capital-loss`, capital_factors)

In [17]:
nominal_features <- c('workclass', 'marital-status', 'age', 'hours-per-week', 'capital-gain', 'capital-loss', 
                      'native-country')

data[nominal_features] <- lapply(data[nominal_features], as.factor)

Handle imbalanced target classes by removing a part of samples.

In [18]:
small_income <- data[data$income == ' <=50K',]
large_income <- data[data$income == ' >50K',]
sample <- small_income[sample(nrow(small_income), size), ]

In [19]:
data <- rbind(sample, large_income)
data <- slice(data, sample(1:n()))
rownames(data) <- NULL

In [20]:
skim_to_list(data)

$factor
# A tibble: 11 x 7
   variable    missing complete n     n_unique top_counts                ordered
 * <chr>       <chr>   <chr>    <chr> <chr>    <chr>                     <chr>
 1 age         0       17841    17841 4        Mid: 9372, Sen: 5269, Yo… FALSE
 2 capital-ga… 0       17841    17841 3        Non: 15746, Hig: 1143, L… FALSE
 3 capital-lo… 0       17841    17841 3        Non: 16758, Hig: 596, Lo… FALSE
 4 education   0       17841    17841 7        Sch: 7045,  So: 3790,  B… TRUE
 5 hours-per-… 0       17841    17841 3        Ful: 9914, Ove: 6219, Pa… FALSE
 6 income      0       17841    17841 2        " <=: 10000,  >5: 7841, … TRUE
 7 marital-st… 0       17841    17841 4        Mar: 10061,  Ne: 4568, N… FALSE
 8 native-cou… 322     17519    17841 8        USA: 16097, Cen: 543, As… FALSE
 9 race        0       17841    17841 5        " Wh: 15523,  Bl: 1468, … FALSE
10 sex         0       17841    17841 2        " Ma: 12795,  Fe: 5046, … FALSE
11 workclass   818     17023    17841 5        " Pr: 12196, Gov: 2547, … FALSE

Dealing with missing values by finding the closest sample.

In [21]:
workclass_na <- dplyr::filter(data, is.na(workclass) & !is.na(`native-country`))
country_na <- dplyr::filter(data, is.na(`native-country`) & !is.na(workclass))

In [22]:
data <- data[complete.cases(data), ]

In [23]:
workclass_na$workclass <- 0
country_na$`native-country` <- 0

In [24]:
closest <- function(x, column) {
    return(data[which.min(Reduce(`+`, Map(stringdist, data, x, method='jaccard'))),][, column])
}

workclass_na$workclass <- apply(workclass_na, 1, closest, 'workclass')
country_na$`native-country` <- apply(country_na, 1, closest, 'native-country')

In [25]:
data <- rbind(data, workclass_na, country_na)
data <- slice(data, sample(1:n()))
rownames(data) <- NULL

In [26]:
# mode <- function(x) {
#     ux <- unique(x)
#     ux[which.max(tabulate(match(x, ux)))]
# }

# data <- replace_na(data=data,
#                    replace=list(workclass = mode(data$workclass),
#                                 `native-country` = mode(data$`native-country`)))

In [27]:
head(data)

  age         workclass education     marital-status race
1 Middle-aged Gov        Some-college Married         White
2 Middle-aged Gov        Some-college Married         White
3 Middle-aged  Private  School        Married         White
4 Senior       Private  School        Not_married     White
5 Senior       Private   Prof-school  Not_married     Asian-Pac-Islander
6 Middle-aged Gov       Associates    Not_married     Asian-Pac-Islander
  sex     capital-gain capital-loss hours-per-week native-country  income
1  Male   None         None         Full-time      USA              >50K
2  Male   None         None         Over-time      USA              >50K
3  Male   None         None         Full-time      Central_America  <=50K
4  Female None         None         Full-time      USA              <=50K
5  Female None         None         Full-time      Asia             <=50K
6  Female None         None         Full-time      USA              <=50K

In [28]:
skim_to_list(data)

$factor
# A tibble: 11 x 7
   variable    missing complete n     n_unique top_counts                ordered
 * <chr>       <chr>   <chr>    <chr> <chr>    <chr>                     <chr>
 1 age         0       17828    17828 4        Mid: 9365, Sen: 5266, Yo… FALSE
 2 capital-ga… 0       17828    17828 3        Non: 15734, Hig: 1142, L… FALSE
 3 capital-lo… 0       17828    17828 3        Non: 16745, Hig: 596, Lo… FALSE
 4 education   0       17828    17828 7        Sch: 7039,  So: 3788,  B… TRUE
 5 hours-per-… 0       17828    17828 3        Ful: 9908, Ove: 6215, Pa… FALSE
 6 income      0       17828    17828 2        " <=: 9991,  >5: 7837, N… TRUE
 7 marital-st… 0       17828    17828 4        Mar: 10055,  Ne: 4566, N… FALSE
 8 native-cou… 0       17828    17828 8        USA: 16360, Cen: 548, As… FALSE
 9 race        0       17828    17828 5        " Wh: 15514,  Bl: 1467, … FALSE
10 sex         0       17828    17828 2        " Ma: 12789,  Fe: 5039, … FALSE
11 workclass   0       17828    17828 5        " Pr: 12812, Gov: 2630, … FALSE

### II. Build the model

In [29]:
set.seed(666)
train_rows <- createDataPartition(data$income, p = 0.8, list = F)

In [30]:
train <- data[train_rows, ]
test <- data[-train_rows, ]

In [31]:
model <- train(data = train, income ~ ., family = binomial(link = 'logit'), method = 'glm')
summary(model)

Call:
NULL

Deviance Residuals:
    Min       1Q   Median       3Q      Max
-4.1454  -0.5688  -0.1237   0.6480   2.8983

Coefficients: (1 not defined because of singularities)
                                        Estimate Std. Error z value Pr(>|z|)
(Intercept)                           -7.643e+11  1.134e+12  -0.674 0.500322
ageOld                                -2.500e-01  1.454e-01  -1.720 0.085510
ageSenior                              4.505e-01  5.171e-02   8.711  < 2e-16
ageYoung                              -1.754e+00  1.380e-01 -12.713  < 2e-16
workclassGov                           7.643e+11  1.134e+12   0.674 0.500322
workclassNot_working                   7.643e+11  1.134e+12   0.674 0.500322
`workclass Private`                    7.643e+11  1.134e+12   0.674 0.500322
workclassSelf_employed                 7.643e+11  1.134e+12   0.674 0.500322
`workclass Without-pay`                7.643e+11  1.134e+12   0.674 0.500322
education.L                            1.619e+00  1.500e-01  10.788  < 2e-16
education.Q                            5.160e-01  1.281e-01   4.027 5.65e-05
education.C                            1.110e+00  1.285e-01   8.632  < 2e-16
`education^4`                         -1.275e+00  1.280e-01  -9.960  < 2e-16
`education^5`                          1.037e+00  1.047e-01   9.901  < 2e-16
`education^6`                         -3.650e-02  6.968e-02  -0.524 0.600370
`\\`marital-status\\`Married`          2.275e+00  7.697e-02  29.557  < 2e-16
`\\`marital-status\\` Never-married`  -3.590e-01  9.755e-02  -3.680 0.000233
`\\`marital-status\\` Widowed`         3.067e-01  1.737e-01   1.766 0.077449
`race Asian-Pac-Islander`              7.062e-01  3.664e-01   1.927 0.053954
`race Black`                           3.400e-01  2.999e-01   1.134 0.256981
`race Other`                           1.055e-01  4.344e-01   0.243 0.808177
`race White`                           6.150e-01  2.876e-01   2.139 0.032465
`sex Male`                             1.143e-01  6.427e-02   1.779 0.075246
`\\`capital-gain\\`Low`               -5.706e+00  4.489e-01 -12.710  < 2e-16
`\\`capital-gain\\`None`              -6.208e+00  4.398e-01 -14.115  < 2e-16
`\\`capital-loss\\`Low`               -1.028e+00  2.003e-01  -5.129 2.91e-07
`\\`capital-loss\\`None`              -1.697e+00  1.572e-01 -10.795  < 2e-16
`\\`hours-per-week\\`Over-time`        5.715e-01  5.083e-02  11.243  < 2e-16
`\\`hours-per-week\\`Part-time`       -1.026e+00  1.128e-01  -9.097  < 2e-16
`\\`native-country\\`Asia`             7.330e-01  5.097e-01   1.438 0.150360
`\\`native-country\\` Canada`          9.841e-01  6.339e-01   1.552 0.120556
`\\`native-country\\`South_America`   -2.391e-01  7.419e-01  -0.322 0.747255
`\\`native-country\\`Central_America`  3.377e-01  5.568e-01   0.606 0.544240
`\\`native-country\\`Europe`           1.196e+00  5.622e-01   2.127 0.033398
`\\`native-country\\` Iran`            1.416e+00  7.706e-01   1.837 0.066197
`\\`native-country\\`USA`              1.128e+00  5.368e-01   2.101 0.035628
`\\`native-country\\` South`                  NA         NA      NA       NA

(Intercept)
ageOld                                .
ageSenior                             ***
ageYoung                              ***
workclassGov
workclassNot_working
`workclass Private`
workclassSelf_employed
`workclass Without-pay`
education.L                           ***
education.Q                           ***
education.C                           ***
`education^4`                         ***
`education^5`                         ***
`education^6`
`\\`marital-status\\`Married`         ***
`\\`marital-status\\` Never-married`  ***
`\\`marital-status\\` Widowed`        .
`race Asian-Pac-Islander`             .
`race Black`
`race Other`
`race White`                          *
`sex Male`                            .
`\\`capital-gain\\`Low`               ***
`\\`capital-gain\\`None`              ***
`\\`capital-loss\\`Low`               ***
`\\`capital-loss\\`None`              ***
`\\`hours-per-week\\`Over-time`       ***
`\\`hours-per-week\\`Part-time`       ***
`\\`native-country\\`Asia`
`\\`native-country\\` Canada`
`\\`native-country\\`South_America`
`\\`native-country\\`Central_America`
`\\`native-country\\`Europe`          *
`\\`native-country\\` Iran`           .
`\\`native-country\\`USA`             *
`\\`native-country\\` South`
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

(Dispersion parameter for binomial family taken to be 1)

    Null deviance: 19564  on 14262  degrees of freedom
Residual deviance: 11323  on 14227  degrees of freedom
AIC: 11395

Number of Fisher Scoring iterations: 25

In [32]:
preds <- predict(model, test)

In [33]:
confusionMatrix(data = preds, reference = test$income)

Confusion Matrix and Statistics

          Reference
Prediction  <=50K  >50K
     <=50K   1628   318
     >50K     370  1249

               Accuracy : 0.807
                 95% CI : (0.7937, 0.8199)
    No Information Rate : 0.5604
    P-Value [Acc > NIR] : < 2e-16

                  Kappa : 0.6097

 Mcnemar's Test P-Value : 0.05185

            Sensitivity : 0.8148
            Specificity : 0.7971
         Pos Pred Value : 0.8366
         Neg Pred Value : 0.7715
             Prevalence : 0.5604
         Detection Rate : 0.4567
   Detection Prevalence : 0.5459
      Balanced Accuracy : 0.8059

       'Positive' Class :  <=50K

In [34]:
probs <- predict(model, newdata = test, type = 'prob')
test_set <- data.frame(' <=50K' = probs$` <=50K`, ' >50K' = probs$` >50K`, pred = preds, obs = test$income)

In [35]:
prSummary(test_set, lev = levels(test_set$obs))[2:4]

Precision    Recall         F
0.8365879 0.8148148 0.8255578